article a, #previewModal a {
    color: rgb(59, 130, 246);
}

article a:hover, #previewModal a:hover {
    cursor: pointer;
    color: rgb(37, 99, 235);
}


article li, #previewModal li {
    margin-bottom: 0.75rem !important;
}
article ul, #previewModal ul {
    display: block !important;
    list-style-type: disc !important;
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    padding-inline-start: 40px !important;
}

article ol, #previewModal ol {
    display: block !important;
    list-style-type: decimal !important;
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    padding-inline-start: 40px !important;
}

article {
    padding: 0.5rem;
}