{% extends "base.html" %}
{% load compress static %}

{% block title %}{{block.super}} | Vorlagen{% endblock title %}

{% block content %}


<div class="container my-12 mx-auto px-4 md:px-12">
  <div class="flex flex-wrap -mx-1 lg:-mx-4">



    <!--Diesen Column part kopieren und bei einem neuen Template kopieren-->
    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg hover:shadow-2xl">
        <a href="{% url 'designtemplates:portfolio' %}">
          <img alt="Vorschau Template-Portfolio" class="block h-auto w-full" src="{% static 'images/designImg/Portfolio.jpg' %}">
        </a>

        <div class="flex items-center justify-between leading-tight p-2 md:p-4">
          <div class="text-lg">
            <div class="font-semibold hover:underline text-black" href="#">
              Portfolio Website
            </div>
          </div>
        </div>

        <div class="flex items-center justify-between leading-none pl-2 pb-2 md:pl-4 md:pb-2">
          <div class="flex items-center no-underline text-black">
            <p class="text-sm font-light">
             Dieses Template ist ideal geeignet für alle Selbständigen bzw. Kunden die eine Portfolio-Website wünschen.
            </p>
          </div>
        </div>
      </article>
      <!-- END Article -->
    </div>
    <!-- END Column -->



    <!--Diesen Column part kopieren und bei einem neuen Template kopieren-->
    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg hover:shadow-2xl">
        <a href="{% url 'designtemplates:handwerksbtrieb' %}">
          <img alt="Vorschau Template-Handwerksbetrieb" class="block h-auto w-full" src="{% static 'images/designImg/Handwerksbetrieb.jpg' %}">
        </a>

        <div class="flex items-center justify-between leading-tight p-2 md:p-4">
          <div class="text-lg">
            <div class="font-semibold hover:underline text-black" href="#">
              Handwerksbetrieb Website
            </div>
          </div>
        </div>

        <div class="flex items-center justify-between leading-none pl-2 pb-2 md:pl-4 md:pb-2">
          <div class="flex items-center no-underline text-black">
            <p class="text-sm font-light">
              Diese Template ist perfekt geeignet für alle Handwerksbetriebe, die einen neuen Internetauftritt wollen.
            </p>
          </div>
        </div>
      </article>
      <!-- END Article -->
    </div>
    <!-- END Column -->




    <!--Diesen Column part kopieren und bei einem neuen Template kopieren-->
    <!-- Column -->
    <!--<div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">-->
      <!-- Article 
      <article class="overflow-hidden rounded-lg shadow-lg hover:shadow-2xl">
        <a href="#">
          <img alt="Placeholder" class="block h-auto w-full" src="{% static 'images/Template3.png' %}">
        </a>

        <div class="flex items-center justify-between leading-tight p-2 md:p-4">
          <div class="text-lg">
            <div class="font-semibold hover:underline text-black" href="#">
              Name des Templates
            </div>
          </div>
        </div>

        <div class="flex items-center justify-between leading-none pl-2 pb-2 md:pl-4 md:pb-2">
          <div class="flex items-center no-underline text-black">
            <p class="text-sm font-light">
              Diese Website verwendet Cookies. Weitere Informationen zu den Cookie-Arten finden sich unter den jeweiligen
              Kategorien. Dort lassen sich auch einzelne Cookies aktivieren.
            </p>
          </div>
        </div>
      </article>-->
      <!-- END Article 
    </div>-->
    <!-- END Column -->






  </div>
</div>


{% endblock content %}