{% extends "cmsbase.html" %}
{% load compress static %}
{% block title %} {{block.super}} | CMS - Produkte {% endblock %}

{% block content %}

<h1 class="text-2xl mb-5">
  <a href="{% url 'cms:shop' %}" class="text-blue-500">Shop</a> / <span id="titleSpan">Produkte</span>
</h1>
<div class="my-2 space-x-8 flex justify-between">
  <a href="{% url 'cms:product-create' %}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded hover:cursor-pointer">
  Produkt erstellen
  </a>
    <input
      class="bg-gray-200 grow w-24 appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
      id="searchProductInput" type="text" value="" placeholder="Suche nach einem Gerät...">
      <button id="searchProduct" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-6 hover:cursor-pointer">
        Suchen
      </button>
</div>

<!-- Produkte -->
<div id="productGrid" class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3 mt-7">
  <!-- Produkt Detail -->
  {% for product in products %}
  <div class="flex h-full w-full rounded-2xl bg-blue-100 shadow-xl relative">
    {% if product.is_reduced %}
    <span
    class="absolute top-0 left-0 inline-block px-2 py-1 text-sm font-semibold text-white bg-red-500 rounded-full z-40">{{product.discount_price}}€</span>
    {% else %}
    <span
    class="absolute top-0 left-0 inline-block px-2 py-1 text-sm font-semibold text-white bg-green-500 rounded-full z-40">{{product.price}}€</span>
    {% endif %}
    
    <img class="w-36 rounded-l-2xl hidden sm:block"
      src="{{ product.title_image.url }}" alt="" srcset="" />
    <div class="space-y-2 p-3 flex flex-col h-full overflow-hidden">
      <h2 class="text-xl font-medium flex-none">{{ product.title }}</h2>
      <div class="h-16 max-h-full grow overflow-x-hidden overflow-y-auto">{{ product.description }}</div>
      <div class="flex justify-end px-2 flex-none">
        <a href="{% url 'cms:product-detail' product_id=product.id slug=product.slug %}"
          class="rounded bg-blue-500 px-4 py-1 font-bold text-white hover:bg-blue-700">Verwalten</a>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- Produkt Detail -->

</div>





{% block javascriptend %}
{% compress js inline %}
<script defer src="{% static 'js/cms/products/product.js' %}"></script>
{% endcompress js %}
{% endblock javascriptend %}

{% endblock content %}