{% extends 'cmsbase.html' %}
{% load compress static %}
{% block title %} {{block.super}} | CMS | Galerie{% endblock %}
{% block javascript %}
{% load compress static %}
{% endblock %}
{% block content %}

<div class="container mx-auto mt-6 max-w-5xl px-2">
    <h1 class="text-2xl font-semibold">Profil Einstellungen</h1>
    <p class="text-slate-700">Ändere dein Profil und deine Einstellungen</p>
    <div class="mt-5 w-full rounded-2xl bg-blue-50 p-3 shadow-lg">
      <div class="flex justify-between">
        <h2 class="text-xl font-medium">Allgemeine Informationen</h2>
        <button id="updateSettings" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded hover:cursor-pointer">Speichern</button>
      </div>
      
      <form action="" class="grid space-x-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 mt-6">
        {% csrf_token %}
        <div class="my-2">
          <label class="mb-1 block w-40 self-center pr-4 font-bold text-gray-500 md:mb-1" for="title"> E-Mail </label>
          <input value="{{settings.email}}" class="w-full appearance-none rounded-xl border-2 border-gray-200 bg-gray-200 px-4 py-2 leading-tight text-gray-700 focus:border-blue-500 focus:bg-white focus:outline-none" id="email" type="text"  placeholder="sam.smith@gmail.com" />
        </div>
        <div class="my-2">
          <label class="mb-1 block w-40 self-center pr-4 font-bold text-gray-500 md:mb-1" for="title"> Voller Name </label>
          <input value="{{settings.full_name}}" class="w-full appearance-none rounded-xl border-2 border-gray-200 bg-gray-200 px-4 py-2 leading-tight text-gray-700 focus:border-blue-500 focus:bg-white focus:outline-none" id="full_name" type="text"  placeholder="Sam Smith" />
        </div>
        <div class="my-2">
          <label class="mb-1 block w-40 self-center pr-4 font-bold text-gray-500 md:mb-1" for="title"> Unternehmensname </label>
          <input value="{{settings.company_name}}" class="w-full appearance-none rounded-xl border-2 border-gray-200 bg-gray-200 px-4 py-2 leading-tight text-gray-700 focus:border-blue-500 focus:bg-white focus:outline-none" id="company_name" type="text"  placeholder="Sam Smith GmbH" />
        </div>
        <div class="my-2">
          <label class="mb-1 block w-40 self-center pr-4 font-bold text-gray-500 md:mb-1" for="title"> Telefonnummer </label>
          <input value="{{settings.tel_number}}" class="w-full appearance-none rounded-xl border-2 border-gray-200 bg-gray-200 px-4 py-2 leading-tight text-gray-700 focus:border-blue-500 focus:bg-white focus:outline-none" id="tel_number" type="text"  placeholder="04541 5562346" />
        </div>
        <div class="my-2">
          <label class="mb-1 block w-40 self-center pr-4 font-bold text-gray-500 md:mb-1" for="title"> Fax Nummer </label>
          <input value="{{settings.fax_number}}" class="w-full appearance-none rounded-xl border-2 border-gray-200 bg-gray-200 px-4 py-2 leading-tight text-gray-700 focus:border-blue-500 focus:bg-white focus:outline-none" id="fax_number" type="text"  placeholder="04541 5562346" />
        </div>
        <div class="my-2">
          <label class="mb-1 block w-40 self-center pr-4 font-bold text-gray-500 md:mb-1" for="title"> Mobilnummer </label>
          <input value="{{settings.mobile_number}}" class="w-full appearance-none rounded-xl border-2 border-gray-200 bg-gray-200 px-4 py-2 leading-tight text-gray-700 focus:border-blue-500 focus:bg-white focus:outline-none" id="mobile_number" type="text"  placeholder="04541 5562346" />
        </div>
        <div class="my-2">
          <label class="mb-1 block w-40 self-center pr-4 font-bold text-gray-500 md:mb-1" for="title"> Website </label>
          <input value="{{settings.website}}" class="w-full appearance-none rounded-xl border-2 border-gray-200 bg-gray-200 px-4 py-2 leading-tight text-gray-700 focus:border-blue-500 focus:bg-white focus:outline-none" id="website" type="text"  placeholder="https://sam-smith.de" />
        </div>
        <div class="my-2 col-span-2">
          <label class="mb-1 block w-80 self-center pr-4 font-bold text-gray-500 md:mb-1" for="title"> Adresse </label>
          <input value="{{settings.address}}" class="w-full appearance-none rounded-xl border-2 border-gray-200 bg-gray-200 px-4 py-2 leading-tight text-gray-700 focus:border-blue-500 focus:bg-white focus:outline-none" id="address" type="text"  placeholder="Unternehmensweg 2, 29299 Wohrt" />
        </div>
        <div class="my-2 col-span-2">
          <label class="mb-1 block w-80 self-center pr-4 font-bold text-gray-500 md:mb-1" for="global_font">Globale Schriftart</label>
          <select class="w-full appearance-none rounded-xl border-2 border-gray-200 bg-gray-200 px-4 py-2 leading-tight text-gray-700 focus:border-blue-500 focus:bg-white focus:outline-none" id="global_font" name="global_font">
              <option value="" {% if settings.global_font == "" %}selected{% endif %}>Keine</option>
              <option value="font-sans" {% if settings.global_font == "font-sans" %}selected{% endif %}>Sans</option>
              <option value="font-serif" {% if settings.global_font == "font-serif" %}selected{% endif %}>Serif</option>
              <option value="font-mono" {% if settings.global_font == "font-mono" %}selected{% endif %}>Monospace</option>
          </select>
      </div>      
      </form>
    </div>
  </div>
  


{% endblock %}

{% block javascriptend %}
{% compress js inline %}
<script src="{% static 'js/cms/settings/settings.js' %}"></script>
{% endcompress js %}
{% endblock javascriptend %}