{% extends "cmsbase.html" %}
{% load compress static %}
{% block title %} {{block.super}} | CMS - Leistungen {% endblock %}

{% block content %}



<div class="container mx-auto mt-8">
    <div class="flex justify-between">
        <h1 class="text-2xl "><a href="{% url 'cms:sites' %}" class="text-blue-500">Seiten</a> / <a
                href="{% url 'cms:site_hauptseite' %}" class="text-blue-500">Hauptseite</a> / <span>FAQ</span>
        </h1>
        <div>
            {% csrf_token %}
            <a class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-6 hover:cursor-pointer"
                id="saveTextData" name="main_faq">
                Speichern
            </a>
        </div>
    </div>


    <div class="mt-8 flex justify-center w-full">
        <div class="flex items-center max-w-4xl md:px-8">
            <div class="max-w-2xl mb-10 md:mx-auto sm:text-center lg:max-w-4xl md:mb-12">
                <input
                    class="bg-gray-200 mt-3 appearance-none text-center border-2 border-gray-200 rounded-lg w-full inline-block py-2 px-4 mb-6 text-2xl font-bold tracking-tight text-teal-900 uppercase leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
                    id="title" type="text"
                    value="{% if textContent and textContent.title %}{{textContent.title}}{% else %}FAQs{% endif %}">
                <textarea rows="7"
                    class="bg-gray-200 rounded-lg appearance-none border-2 border-gray-200 w-full py-2 px-4 text-base text-gray-800 md:text-lg leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
                    id="description" type="text">{% if textContent and textContent.title %}{{textContent.description}}{% else %}Quisque sodales nibh odio, vel accumsan odio luctus vel. Nam in lorem ac sem porttitor placerat at interdum leo.
                    {% endif %}
                </textarea>
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-center text-center items-center space-y-4">
        <h4>Du möchtest die FAQ's verwalten? Dann klicke auf den folgenden Button:</h4>
        <a href="{% url 'cms:faq-view' %}"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">FAQ's verwalten</a>
    </div>
</div>


{% block javascriptend %}
{% compress js inline %}
<script defer src="{% static 'js/cms.js' %}"></script>
<script src="{% static 'js/cms/content/save-text.js' %}"></script>
{% endcompress js %}
{% endblock javascriptend %}



{% endblock content %}