{% extends "cmsbase.html" %}
{% load compress static %}
{% block title %} {{block.super}} | CMS - Seiteninhalt {% endblock %}


{% block content %}

{% include "pages/cms/components/ImageSelectModal.html" %}

<div class="container mx-auto mt-8">
    <div class="flex justify-between">
        <h1 class="text-2xl "><a href="{% url 'cms:sites' %}" class="text-blue-500">Seiten</a> / <a
                href="{% url 'cms:site_hauptseite' %}" class="text-blue-500">Hauptseite</a> / <span>Hero</span></h1>
        <div>
            {% csrf_token %}
            <a class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-6 hover:cursor-pointer"
                id="saveTextData" name="main_hero">
                Speichern
            </a>
        </div>
    </div>


    <section id="owner" class="relative lg:min-h-[calc(70vh)] flex justify-center items-center">
        <!-- Flex container -->
        <div
            class="container flex flex-col items-center max-w-3xl lg:max-w-5xl px-6 mx-auto mt-24 md:mt-10 space-y-0 md:space-y-0 md:flex-row md:space-x-12 space-x-0">

            <!-- Right item with SVG heartbeat-tooth pattern background -->
            <div class="flex flex-col mb-4 lg:mb-32 space-y-2 md:w-1/2 relative">
                <!-- SVG heartbeat-tooth pattern -->
                <svg class="absolute -top-16 -left-16 opacity-10 w-52 h-52" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 100 100">
                    <!-- Heartbeat pattern -->
                    <path d="M10 50 Q 15 40, 20 50 T 30 50 T 40 30 T 50 50 T 60 70 T 70 50 T 80 50 Q 85 40, 90 50"
                        stroke="#262C5D" stroke-width="2" fill="none" />
                </svg>
                <input
                    class="bg-gray-200 appearance-none border-2 text-3xl border-gray-200 rounded-lg w-full text-center inline-block py-2 px-4 font-semibold tracking-wider text-teal-900 leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
                    id="header" type="text"
                    value="{% if textContent and textContent.header %}{{textContent.header}}{% else %}Dr. Lorenz Holmer{% endif %}">
                <div>
                    <input
                        class="bg-gray-200 mt-3 appearance-none text-center border-2 border-gray-200 rounded-lg w-full inline-block py-2 px-4 mb-6 text-2xl font-bold tracking-tight text-teal-900 leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
                        id="title" type="text"
                        value="{% if textContent and textContent.title %}{{textContent.title}}{% else %}Ihr Zahnarzt in Plattling{% endif %}">
                    <textarea rows="1"
                        class="bg-gray-200 rounded-lg appearance-none border-2 border-gray-200 w-full py-2 px-4 text-base text-gray-800 md:text-lg leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
                        id="description" type="text">{% if textContent and textContent.title %}{{textContent.description}}{% else %}Für Ihre Zähne{% endif %}
                </textarea>
                    <input id="buttonText"
                        value="{% if textContent and textContent.buttonText %}{{textContent.buttonText}}{% else %}Termin vereinbaren{% endif %}"
                        class="rounded-md bg-blue-300 text-white px-3.5 py-2.5 text-sm font-semibold shadow-sm"></input>
                </div>
            </div>

            <!-- Image -->
            <div class="md:w-1/2 mt-0 md:mt-0 max-w-80 md:max-w-full">
                <div class="relative">
                    <img title="{% if heroImage %}{{heroImage.title}}{% endif %}" key="main_hero"
                        src="{% if heroImage %}{{heroImage.file.url}}{% else %}{% static 'images/Portrait/LH Portrait.png' %}{% endif %}"
                        alt="{% if heroImage %}{{heroImage.title}}{% endif %}" class="rounded-xl content-image">
                    <span
                        class="absolute top-0 left-0 inline-block px-2 py-1 text-sm font-semibold text-white bg-orange-500 rounded-full not-sortable z-40 hover:cursor-pointer edit-img"><i
                            class="bi bi-pencil-square"></i></span>
                </div>

            </div>
        </div>
        <!-- Gradient Divider -->
        <div class="absolute bottom-0 w-full h-20 bg-gradient-to-b from-transparent to-gray-50"></div>
    </section>
</div>

{% block javascriptend %}
{% compress js inline %}
<script defer src="{% static 'js/cms.js' %}"></script>
<script src="{% static 'js/cms/content/save-text.js' %}"></script>
<script defer src="{% static 'js/cms/content/siteManager.js' %}"></script>
<script defer>
    $(document).ready(function () {
        loadImages(false);
    })
</script>
{% endcompress js %}
{% endblock javascriptend %}



{% endblock content %}