{% extends "cmsbase.html" %}
{% load compress static %}
{% block title %} {{block.super}} | CMS - Seiteninhalt {% endblock %}

{% block content %}


<h1 class="text-2xl "><a href="{% url 'cms:sites' %}" class="text-blue-500">Seiten</a> / <span
        id="titleSpan">Hauptseite</span></h1>

<div class="grid grid-cols-1 md:grid-cols-4 gap-8 mt-8">
    <!-- Heroo Sektion -->
    <div class="bg-blue-100 border-gray-200 rounded-2xl shadow-xl p-6 text-black flex flex-col">
        <h2 class="text-lg font-bold mb-4">Hero Sektion</h2>
        <p class="mb-4">Hier kannst du den Inhalt der Hero Sektion anpassen</p>
        <div class="flex-grow"></div>
        <div class="flex justify-center mt-12">
            <a href="{% url 'cms:site_hauptseite_hero' %}"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Verwalten</a>
        </div>
    </div>
    <!-- Responsive Sektion -->
    <div class="bg-blue-100 border-gray-200 rounded-2xl shadow-xl p-6 text-black flex flex-col">
        <h2 class="text-lg font-bold mb-4">Leistungen Sektion</h2>
        <p class="mb-4">Hier kannst du den Inhalt der Leistungen Sektion anpassen</p>
        <div class="flex-grow"></div>
        <div class="flex justify-center mt-12">
            <a href="{% url 'cms:site_hauptseite_services' %}"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Verwalten</a>
        </div>
    </div>
    <!-- Cms Sektion -->
    <div class="bg-blue-100 border-gray-200 rounded-2xl shadow-xl p-6 text-black flex flex-col">
        <h2 class="text-lg font-bold mb-4">Team Sektion</h2>
        <p class="mb-4">Hier kannst du den Inhalt der Team Sektion anpassen</p>
        <div class="flex-grow"></div>
        <div class="flex justify-center mt-12">
            <a href="{% url 'cms:site_hauptseite_team' %}"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Verwalten</a>
        </div>
    </div>
    <!-- Price Sektion -->
    <div class="bg-blue-100 border-gray-200 rounded-2xl shadow-xl p-6 text-black flex flex-col">
        <h2 class="text-lg font-bold mb-4">Kontakt Sektion</h2>
        <p class="mb-4">Hier kannst du den Inhalt der Kontakt Sektion anpassen</p>
        <div class="flex-grow"></div>
        <div class="flex justify-center mt-12">
            <a href="{% url 'cms:site_hauptseite_contact' %}"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Verwalten</a>
        </div>
    </div>
    <!-- Team Sektion -->
    <div class="bg-blue-100 border-gray-200 rounded-2xl shadow-xl p-6 text-black flex flex-col">
        <h2 class="text-lg font-bold mb-4">FAQ Sektion</h2>
        <p class="mb-4">Hier kannst du den Inhalt der FAQ Sektion anpassen</p>
        <div class="flex-grow"></div>
        <div class="flex justify-center mt-12">
            <a href="{% url 'cms:site_hauptseite_faq' %}"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Verwalten</a>
        </div>
    </div>

    <!-- Team Galerie -->
    <div class="bg-blue-100 border-gray-200 rounded-2xl shadow-xl p-6 text-black flex flex-col">
        <h2 class="text-lg font-bold mb-4">Galerie Sektion</h2>
        <p class="mb-4">Hier kannst du deine Galerien anpassen</p>
        <div class="flex-grow"></div>
        <div class="flex justify-center mt-12">
            <a href="{% url 'cms:galerien' %}"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Verwalten</a>
        </div>
    </div>

</div>


{% endblock content %}