{% extends "cmsbase.html" %}
{% load compress static %}
{% block title %} {{block.super}} | CMS{% endblock %}



{% block content %}



<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-8 mt-8">
    <!-- Image Manage Card -->
    <div class="bg-blue-100 border-gray-200 rounded-2xl shadow-xl p-6 text-black flex flex-col">
        <h2 class="text-2xl font-bold mb-4 flex justify-between">Bilder <i class="bi bi-image"></i></h2>
        <p class="mb-4">Hier kannst du deine Bilder verwalten und neue hochladen</p>
        <p class="mb-4">Momentane Bilder: <strong>{{file_count}}</strong></p>
        <div class="flex-grow"></div>
        <div class="flex justify-center items-center mt-4">
            <a href="{% url 'cms:images-view' %}"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Verwalten</a>
            <div class="flex-grow"></div>
            <a href="{% url 'cms:upload' %}"
                class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded self-end">Hochladen</a>
        </div>
    </div>
    
    <!-- FAQ Manage Card -->
    <div class="bg-blue-100 border-gray-200 rounded-2xl shadow-xl p-6 text-black flex flex-col">
        <h2 class="text-2xl font-bold mb-4 flex justify-between">FAQ <i class="bi bi-question-lg"></i></h2>
        <p class="mb-4">Hier kannst du dein FAQ verwalten</p>
        <p class="mb-4">Momentane FAQ's: <strong>{{faq_count}}</strong></p>
        <div class="flex-grow"></div>
        <div class="flex justify-center items-center mt-4">
            <a href="{% url 'cms:faq-view' %}"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded self-end">Verwalten</a>
        </div>
    </div>

    <!-- Galerie Creator -->
    <div class="bg-blue-100 border-gray-200 rounded-2xl shadow-xl p-6 text-black flex flex-col">
        <h2 class="text-2xl font-bold mb-4 flex justify-between">Galerien <i class="bi bi-images"></i></h2>
        <p class="mb-4">Hier kannst du deine Gallerien verwalten</p>
        <p class="mb-4">Momentane Galerien: <strong>{{galery_count}}</strong></p>
        <div class="flex-grow"></div>
        <div class="flex justify-center items-center mt-4">
            <a href="{% url 'cms:galerien' %}" 
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Verwalten</a>
            <div class="flex-grow"></div>
            <a href="{% url 'cms:galery-create' %}" 
                class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded self-end">Erstellen</a>
        </div>
    </div>
    
    <!-- Blog Card -->
    <div class="bg-blue-100 border-gray-200 rounded-2xl shadow-xl p-6 text-black flex flex-col">
        <h2 class="text-2xl font-bold mb-4 flex justify-between">Blogs <i class="bi bi-blockquote-right"></i></h2>
        <p class="mb-4">Hier kannst du deine Blogs managen</p>
        <p class="mb-4">Momentane Blogs: <strong>{{blog_count}}</strong></p>
        <div class="flex-grow"></div>
        <div class="flex justify-center items-center mt-4">
            <a href="{% url 'cms:blog-view' %}" 
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Verwalten</a>
        </div>
    </div>

    <!-- Seiten Card -->
    <div class="bg-blue-100 border-gray-200 rounded-2xl shadow-xl p-6 text-black flex flex-col">
        <h2 class="text-2xl font-bold mb-4 flex justify-between">Seiten <i class="bi bi-body-text"></i></h2>
        <p class="mb-4">Hier kannst du deinen Seiteninhalt verwalten (Text, Bilder etc.)</p>
        <p class="mb-4">Seiten: <strong>1</strong></p>
        <div class="flex-grow"></div>
        <div class="flex justify-center items-center mt-4">
            <a href="{% url 'cms:sites' %}" 
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Verwalten</a>
        </div>
    </div>
    <!-- Shop -->
    <div class="bg-blue-100 border-gray-200 rounded-2xl shadow-xl p-6 text-black flex flex-col">
        <h2 class="text-2xl font-bold mb-4 flex justify-between">Shop <i class="bi bi-shop"></i></h2>
        <p class="mb-4">Hier kannst du deinen Shop verwalten</p>
        <p class="mb-4">Produkte: <strong>{{product_count}}</strong></p>
        <p class="mb-4">Offene Aufträge: <strong>{{order_not_closed_count}}</strong></p>
        <div class="flex-grow"></div>
        <div class="flex justify-center items-center mt-4">
            <a href="{% url 'cms:shop' %}"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Verwalten</a>
        </div>
    </div>
    <!-- Öffnungszeiten -->
    <div class="bg-blue-100 border-gray-200 rounded-2xl shadow-xl p-6 text-black flex flex-col">
        <h2 class="text-2xl font-bold mb-4 flex justify-between">Öffnungszeiten <i class="bi bi-clock"></i></h2>
        <p class="mb-4">Hier kannst du deine Öffnungszeiten verwalten</p>
        <div class="flex-grow"></div>
        <div class="flex justify-center items-center mt-4">
            <a href="{% url 'cms:openinghours-view' %}"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Verwalten</a>
            
        </div>
    </div>
    <!-- Member Manage Card -->
    <div class="bg-blue-100 border-gray-200 rounded-2xl shadow-xl p-6 text-black flex flex-col">
        <h2 class="text-2xl font-bold mb-4 flex justify-between">Mitarbeiter <i class="bi bi-people"></i></h2>
        <p class="mb-4">Hier kannst du deine Mitarbeiter verwalten</p>
        <p class="mb-4">Momentane Mitarbeiter: <strong>{{member_count}}</strong></p>
        <div class="flex-grow"></div>
        <div class="flex justify-center items-center mt-4">
            <a href="{% url 'cms:team-list' %}"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded self-end">Verwalten</a>
        </div>
    </div>

</div>



  {% block javascriptend %}
    {% compress js inline %}
      <script defer src="{% static 'js/cms.js' %}"></script>
    {% endcompress js %}
  {% endblock javascriptend %}



{% endblock content %}