{% extends 'cmsbase.html' %}
{% load static compress %}
{% block title %} {{block.super}} | CMS | Fotos{% endblock %}

{% block javascript %}
<!--
Dropzone.js is available under the MIT License:
https://www.dropzone.dev/
-->
<script src="{% static 'js/libs/dropzone.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/cms/libs/dropzone.min.css' %}" type="text/css" />
{% endblock %}
{% block content %}

<div class="container mx-auto mt-8">
  <div class="flex justify-between">
    <h1 class="text-2xl ">CMS - Upload</h1>
    <a href="{% url 'cms:images-view' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Alle Bilder ansehen
    </a>
  </div>
    <form action="{% url 'cms:post-upload' %}" method="POST" class="dropzone mt-8" id="my-dropzone">
        {% csrf_token %}
        <div class="fallback">
          <input name="file" type="file" multiple />
        </div>
      </form>
</div>

{% endblock %}

{% block javascriptend %}
{% compress js inline %}
<script>
  var csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
  Dropzone.autoDiscover = false;
  $('.dropzone').dropzone({
    addRemoveLinks: true,
    removedfile: function(file) {
      var name = file.name

      $.ajax({
        type: 'post',
        url: 'delete/' + name + "/",
        data: {csrfmiddlewaretoken: csrftoken,},
        success: function(response) {
          console.log(response)
          if(response.error) {
            return void 0;
          }
        }
      });
      var _ref;
      return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
    }
  })

</script>
{% endcompress js %}
{% endblock javascriptend %}